<html>

<head>
  <style type='text/css'>

  body {
    height: 100%;

    padding: 100px

  }
  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    padding-bottom :50px

  }
  </style>
</head>


<body>

<h1><%=data[i].content%></h1>



</body>

</html>
